In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
parks = pd.read_csv('parks.csv')
species = pd.read_csv('species.csv', low_memory=False)

In [9]:
parks.describe()
parks.dtypes
parks.head(2)

  Park Code             Park Name State  Acres  Latitude  Longitude
0      ACAD  Acadia National Park    ME  47390     44.35     -68.21
1      ARCH  Arches National Park    UT  76519     38.68    -109.57

In [14]:
species.describe()
species.dtypes #todos los datos son object
species.head(2)

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN